<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <table class="table table-striped">
      <thead>
        <tr>      
          <th></th>
          <th>App</th>
          <th>Data</th>
          <th>Administrador</th>
          <th>#</th>
        </tr>
      </thead>
      <tbody>
        {{#each apps}}            
        <tr>
          <td><img src="/images/{{image}}"></td>
          <td>{{name}}</td>
          <td></td>
          <td></td>
          <td></td>      
        </tr>  
        {{/each}}
      </tbody>
    </table>
</div>

